#logo{
    display: inline-block;
}
#search{
    display: inline-block;
}

.elements{
 display: inline-block;
}
#Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
#image1{
    /* background-color: aqua; */
    background-image: url("/Saitproject/images/10305360a.jpg");
    background-size: cover;
    opacity: 0.8;
    width: 1000px;
    height: 632px;
    display: inline-block;
    border: 2px solid black;
}
#image2{
    /* background-color: yellow; */
    background-image: url("/Saitproject/images/13936384a.webp");
    background-size: cover;
    opacity: 0.8;
    width: 500px;
    height: 300px;
    display: inline-block;
    position: absolute;
    /* bottom: 422px; */
    top: 84px;
    left: 1030px;
    border: 2px solid black;
}
#image3{
    /* background-color:hotpink; */
    background-image: url("/Saitproject/images/15488271a.webp");
    background-size: cover;
    opacity: 0.8;
    width: 500px;
    height: 300px;
    display: inline-block;
    position: absolute;
    top:410px;
    left: 1030px;
    border: 2px solid black;
}
.Shop{
    line-height: 5px;
}
#Buy{
    background-color: rgba(121, 107, 91, 0.259);
    border-radius: 20px;
    border-width: 5px;
    height: 40px;
    
}
#info{
    position: absolute;
    left: 100px;
    top: 400px;
}