*{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(41, 22, 22);
}
b{
    font-size: 16px;
}
div{
    color:rgb(37, 33, 33);
}

#main_container{
    height:700px;
    margin:15px;
    /* background-color: pink; */
    background-image: url("background-img.jpg");
    background-repeat: cover;
    display:flex;
    flex-direction:row;
    
}
#sub_container{
    /* background-color: black; */
    height:85%;
    width:45%;
    margin:40px 0px 40px 40px;
    
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
}

#product_image{
    height:80%;
    width:80%;
    padding:0px;
    margin:20px 0px 40px 40px; 
    align-self: baseline;
    background-image: url("shoes.png");
    background-size:cover;
    border-radius: 30px;
    border: 2px solid yellow;
}
h1{
    color:red;
}
pre{
    font-size: 15px;
    margin-top: 0px;
}
a{
    text-decoration:none;
    color:rgb(33, 122, 122)
}
#product_info{
    /* background-color:#f293a9; */
    margin-left:40px;
    height:85%;
    width:60%;
    margin:40px 40px 40px 0px; 
}
button{
    height: 60px;
    display:inline-block;
    width:200px;
    align-self:flex-start;
    margin-left:50px;
    font-size:larger;
    border-radius: 18px;
    background-color:rgb(73, 180, 180);
    /* color:aliceblue; */
    /* color:pink; */
    color:white;
    border:2px solid yellow;
    margin-left: 65px;
}
#Button2{
    background-color:red;
    margin-left: 10px;
}
#price{
    height:55px;
    margin-bottom: 0px;
    padding-top: 0px;
}
.MRP{
    padding:0px;
    margin:0px 0px 0px 0px;
    display:inline-block;
    color:rgb(92, 85, 85);
}
p{
    text-decoration: line-through;
}
small{
    color:red;
}
span{
    display:inline-block;
    width:15px;
    height:15px;
    margin:1px;
    margin-bottom: 0px;
    font-size: 1px;
}
#one{
    background-color:palevioletred;
    color:palevioletred;
}
#two{
    background-color: aqua;
    color: aqua;
}
#three{
    background-color:blue;
    color:blue;
}
#siz_basis{
    background-color: coral;
    border-radius: 4px;
    height:fit-content;
    width:fit-content;
    font-size:14px;
    margin-left:5px;
}
#size{
    display:flex;
}
.siz1{
    border:none;
    padding-top: 15px;
}
.siz{
    display: inline-block;
    height: 50px;
    width:100px;
    border:2px solid rgb(208, 202, 202);
    margin:10px;
    text-align: center;
    padding-top:10px ;

}

#icons{
    height:fit-content;
    width: fit-content;
}

.img{
    
    display:flex;
    height: 80px; 
    width: 80px;
   
    margin:10px 0px 0px 0px;
    border-radius: 4px;
    justify-content: space-between;
    height:100px;
    width:700px;
}
#img1{
    border:2px solid yellow;
    height:80px;
    width:80px;
    background-image: url("shoes1.png");
}
#img2{
    border:2px solid yellow;
    height:80px;
    width:80px;
    background-image: url("shoes2.1.png");
    background-size: cover;
}
#img3{
    border: 2px solid yellow;
    height:80px;
    width:80px;
    background-image: url("shoes3.png");
    background-size: cover;
}
#img4{
    border: 2px solid yellow;
    height:80px;
    width:80px;
    background-image: url("shoes4.png");
}
#img5{
    border:2px solid yellow;
    height:80px;
    width:80px;
    background-image: url("shoes5.png");
}

#img6{
    border:2px solid yellow;
    height:80px;
    width:80px;
    background-image: url("shoes6.png");
}

#shortlist{
    width:90px;
    height: 90px;
    margin: 0px 0px 0px 10px;
    background-color:red;
    
}
